
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact Us</title>
<link href="design.css" rel="stylesheet" type="text/css" />
<style>

body{
	background-image:url("image/shopp1.JPG");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	font-size:18px;

}
</style>


</head>

<body bgcolor="#8d9dff">
<table align="center">


<tr><td bgcolor="darkblue"><font color="white">
<h4><br />

AI-ML-NLP-QM Integration    <br/>
elie Hamouche<br/>
<br/>
<p><iframe width="390" height="290" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?oe=&amp;q=baabda&amp;ie=UTF8&amp;hq=&amp;hnear=Baabda,+Mt+Lebanon,+Lebanon&amp;ll=33.833797,35.544145&amp;spn=0.014774,0.01929&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?oe=&amp;q=baabda&amp;ie=UTF8&amp;hq=&amp;hnear=Baabda,+Mt+Lebanon,+Lebanon&amp;ll=33.833797,35.544145&amp;spn=0.014774,0.01929&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>&nbsp;</p>
Email: <a href="mailto:eliehamouche@hotmail.com">eliehamouche@hotmail.com</a><br />
Telephone: +03.986314<br />

</h4></font>
</td></tr>

</table>
</body>
</html>