<!-- templates/partials/zone2.html -->
<div id="search-bar" style="float: right;">
    <input type="text" id="search-input" placeholder="Search...">
    <button id="search-button">Search</button>
</div>

<div id="home-options">
    <button class="option-btn" data-name="AI">AI</button>
    <button class="option-btn" data-name="ML">ML</button>
    <button class="option-btn" data-name="NLP">NLP</button>
    <button class="option-btn" data-name="QM">QM</button>
    <button class="option-btn" data-name="QM²">Quality Mgmt</button>
</div>